html {
    box-sizing: border-box;
}

*::after ,*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font:14px/1.5 Arial;
    color: #333;
    display: grid;
    grid: auto auto /1fr 800px 1fr;
}

header {
    padding:20px 0px;
    grid-area: 2/1/1/4;
    text-align: center;
    background: #444;
}



main {
    grid-area: 2/2/3/3;
    display: grid;
    grid: auto /200px 600px;
    


}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

header > h1 {
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 0;
}

header > p {
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.column-1{
    grid-area: 1/1/2/2;
    
}
.column-2{
    grid-area: 1/2/2/3;
}

.column-1 section {
    display: grid;
    grid: auto auto/60px auto;
    align-items: center;
}


main section > span.iconfont {
    grid-area: 1/1/2/2;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #77a8a3;
    color: #fff;
    border-radius: 50%;
    
}
main section > h2 {
    grid-area: 1/2/2/3;
    font-size: 18px;
    display: flex;
}
main section > h2::after {
    content: '';
    flex:1;
    align-items: center;
    background-color: #77a8a3;
    height: 2px;

}
li {
    list-style: none;
}